<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.demo.dao.DriverOrderInfoMapper">
  <resultMap id="BaseResultMap" type="com.test.demo.entity.DriverOrderInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="trip_id" jdbcType="INTEGER" property="tripId" />
    <result column="order_price" jdbcType="INTEGER" property="orderPrice" />
    <result column="order_status" jdbcType="INTEGER" property="orderStatus" />
    <result column="passengers_trip_id" jdbcType="INTEGER" property="passengersTripId" />
    <result column="passengers_end_place" jdbcType="VARCHAR" property="passengersEndPlace" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, trip_id, order_price, order_status, passengers_trip_id, passengers_end_place, 
    create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from driver_order_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from driver_order_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.test.demo.entity.DriverOrderInfo">
    insert into driver_order_info (id, user_id, trip_id, 
      order_price, order_status, passengers_trip_id, 
      passengers_end_place, create_time)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{tripId,jdbcType=INTEGER}, 
      #{orderPrice,jdbcType=INTEGER}, #{orderStatus,jdbcType=INTEGER}, #{passengersTripId,jdbcType=INTEGER}, 
      #{passengersEndPlace,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.test.demo.entity.DriverOrderInfo">
    insert into driver_order_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="tripId != null">
        trip_id,
      </if>
      <if test="orderPrice != null">
        order_price,
      </if>
      <if test="orderStatus != null">
        order_status,
      </if>
      <if test="passengersTripId != null">
        passengers_trip_id,
      </if>
      <if test="passengersEndPlace != null">
        passengers_end_place,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="tripId != null">
        #{tripId,jdbcType=INTEGER},
      </if>
      <if test="orderPrice != null">
        #{orderPrice,jdbcType=INTEGER},
      </if>
      <if test="orderStatus != null">
        #{orderStatus,jdbcType=INTEGER},
      </if>
      <if test="passengersTripId != null">
        #{passengersTripId,jdbcType=INTEGER},
      </if>
      <if test="passengersEndPlace != null">
        #{passengersEndPlace,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.test.demo.entity.DriverOrderInfo">
    update driver_order_info
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="tripId != null">
        trip_id = #{tripId,jdbcType=INTEGER},
      </if>
      <if test="orderPrice != null">
        order_price = #{orderPrice,jdbcType=INTEGER},
      </if>
      <if test="orderStatus != null">
        order_status = #{orderStatus,jdbcType=INTEGER},
      </if>
      <if test="passengersTripId != null">
        passengers_trip_id = #{passengersTripId,jdbcType=INTEGER},
      </if>
      <if test="passengersEndPlace != null">
        passengers_end_place = #{passengersEndPlace,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.test.demo.entity.DriverOrderInfo">
    update driver_order_info
    set user_id = #{userId,jdbcType=INTEGER},
      trip_id = #{tripId,jdbcType=INTEGER},
      order_price = #{orderPrice,jdbcType=INTEGER},
      order_status = #{orderStatus,jdbcType=INTEGER},
      passengers_trip_id = #{passengersTripId,jdbcType=INTEGER},
      passengers_end_place = #{passengersEndPlace,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>